@font-face {
  font-family: "Bebas Neue";
  font-display: swap;
  src: url("../fonts/Bebas Neue.woff") format("woff"), url("../fonts/Bebas Neue.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato.woff") format("woff"), url("../fonts/Lato.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Times New Roman";
  font-display: swap;
  src: url("../fonts/Times New Roman.woff") format("woff"), url("../fonts/Times New Roman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "times-new-roman-cyr";
  font-display: swap;
  src: url("../fonts/times-new-roman-cyr.woff") format("woff"), url("../fonts/times-new-roman-cyr.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #444;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body h1 {
  color: green;
}

body .webp {
  background: url("../img/pexels-photo.jpg") 0 0 no-repeat;
}

@media screen and (max-width: 767px) {
  body h1 {
    font-size: 30px;
  }

  body {
    background-color: #fff;
  }
}